<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mapa corto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="map"></div>
  <br>
  
  <ion-button (click)=getCurrentPosition() expand="block" shape="round">
    <ion-icon name="save"></ion-icon>
    &nbsp; Save My Location</ion-button>
  <br>
    <ion-button (click)=clearLocalStorage() expand="block" shape="round" color="danger"> 
    <ion-icon name="nuclear"></ion-icon>
   &nbsp; Clear Local Storage 
   </ion-button>
</ion-content>
