<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      List Locations
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">List of locations</ion-title>
    </ion-toolbar>
  </ion-header>
<!-- Refresco de pantalla -->
<!-- Custom Refresher Content -->

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list  *ngFor="let location of locations">
    <ion-item-sliding>
      <ion-item [routerLink]="['/location', location.id]">{{location.name}}</ion-item>
      <ion-item-options side = "end">
        <ion-item-option (click) = "deleteLocation(location.id)" color="danger">
          Delete 
          <ion-icon name="trash"> </ion-icon>
        </ion-item-option>
      </ion-item-options> 
    </ion-item-sliding>

<!--  Una manera listada: name lat lng
     <ion-item>
      <ion-label>Name:</ion-label> 
      <ion-label>{{location.name}}</ion-label>
      <ion-label>Lat:</ion-label> 
      <ion-label>{{location.lat}}</ion-label>
      <ion-label>Lng:</ion-label> 
      <ion-label>{{location.lng}}</ion-label>
    </ion-item> -->

  </ion-list>
</ion-content>
